body{
    background: #f0f4ef;
}

#canvas {
    background: whitesmoke;
    border-right: black solid 1px;
    float: left;
    top:0;
    left:0;
}

.menu_container {
    display: flex;
    flex-direction: column;
}

.block {
    margin-top: 10px;
    margin-left: 10px;
}

.container {
    display: flex;
}

table thead .sorting:after,
table thead .sorting:before,
table thead .sorting_asc:after,
table thead .sorting_asc:before,
table thead .sorting_asc_disabled:after,
table thead .sorting_asc_disabled:before,
table thead .sorting_desc:after,
table thead .sorting_desc:before,
table thead .sorting_desc_disabled:after,
table thead .sorting_desc_disabled:before {
    bottom: .5em;
}
